/* GLOBAL STYLING */
:root {
    --darkGrey: #131212;
    --offWhite: #FDFCFC;
    --lightPink: #FFD5D0;
    --darkGreen: #0F1D01;
    --lightGreen: #32724D;
    --transparentOffWhite: #FDFCFC00;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--offWhite);
}

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 128px;
    text-transform: capitalize;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 96px;
    text-transform: capitalize;
    margin: 0px;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-transform: capitalize;
    margin: 0px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    text-transform: capitalize;
    margin: 0px;
}

h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    margin: 0px;
}

p, ul, ol, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: var(--darkGreen);
}

/* NAVBAR STYLING */
.condensedNav, .classicNav {
    background: linear-gradient(180deg, var(--offWhite), 90%, var(--transparentOffWhite));
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.condensedNav {
    display: none;
    height: 80px;
}

.condensedNavContents {
    display: none;
}

.condensedNavContents div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px;
}

.navDivider {
    width: 50%;
    color: var(--darkGrey);
    height: 10px;
}

.condensedNav i {
    font-size: 40px;
    color: var(--darkGrey);
    padding: 20px;
}

.open {
    background: var(--offWhite);
}

.condensedNav ul, .classicNav ul {
    padding: 0;
    margin: 40px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.condensedNav button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.condensedNavContents ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.pageLink {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--darkGrey);
}

.pageLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darkGrey);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.pageLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

.inlineSocials li {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.inlineIcon {
    font-size: 40px;
    padding-bottom: 5px;
}

/* JUMBOTRON STYLING */
.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 145px 40px 40px 40px;
    background-color: transparent;
}

/* CONTAINER STYLING */
.primarySection {
    padding: 40px 0px 40px 0px;
}
.secondarySection {
    padding: 20px 0px 20px 0px;
}

.anchor {
    display: block;
    position: relative;
    top: -145px;
    visibility: hidden;
}

/* FOOTER STYLING */
footer {
    background-color: var(--darkGreen);
    color: var(--offWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    padding: 100px;
    text-align: center;
}

footer span h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footerSocials {
    row-gap: 20px;
}

footer .inlineSocials li {
    padding: 10px;
}

.footerDivider {
    height: 2px;
    width: 100%;
    background-color: var(--offWhite);
}

.footerColor {
    color: var(--offWhite);
}

/* RECOMMENDED DEVICE SIZES FROM W3SCHOOLS (https://www.w3schools.com/css/css_rwd_mediaqueries.asp) */
/* small desktop screens */
@media only screen and (max-width: 1200px) {
    h1 { font-size: 96px; }
    
    h2 { font-size: 48px; }
    
    h3 { font-size: 36px; }
    
    h4 { font-size: 32px; }
    
    h5 { font-size: 28px; }
}

/* tablet */
@media only screen and (max-width: 992px) {    
    .condensedNav {
        display: block;
    }

    .classicNav ul {
        display: none;
    }

    .jumbotron {
        padding: 100px 20px 20px 20px;
    }

    .anchor {
        top: -100px;
    }

    footer {
        padding: 40px;
    }

    .desktop {
        display: none;
    }

    h1 { font-size: 48px; }

    h2 { font-size: 36px; }

    h3 { font-size: 32px; }

    h4 { font-size: 28px; }

    h5 { font-size: 26px; }
}

@media only screen and (max-width: 768px) {
    a { font-size: 16px; }

    p, ul, ol, li { font-size: 16px; }
}