/* GLOBAL STYLING */
:root {
    --darkGrey: #131212;
    --offWhite: #FDFCFC;
    --lightPink: #FFD5D0;
    --darkGreen: #0F1D01;
    --lightGreen: #32724D;
    --transparentOffWhite: #FDFCFC00;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--offWhite);
}

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 128px;
    text-transform: capitalize;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 96px;
    text-transform: capitalize;
    margin: 0px;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-transform: capitalize;
    margin: 0px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    text-transform: capitalize;
    margin: 0px;
}

h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
    margin: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    color: var(--darkGreen);
}

/* NAVBAR STYLING */
nav {
    background: linear-gradient(180deg, var(--offWhite), 90%, var(--transparentOffWhite));
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.condensedNav {
    display: none;
    z-index: 10;
    height: 80px;
}

.condensedNavContents {
    display: none;
}

.condensedNavContents div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px;
}

.navDivider {
    width: 50%;
    color: var(--darkGrey);
    height: 10px;
}

.condensedNav i {
    font-size: 40px;
    color: var(--darkGrey);
    padding: 20px;
}

.open {
    background: var(--offWhite);
}

nav ul {
    padding: 0;
    margin: 40px;
    list-style: none;
    display: flex;
    gap: 40px;
}

.condensedNav button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.condensedNavContents ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.pageLink {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--darkGrey);
}

.pageLink::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--darkGrey);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.pageLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

.caseStudyLink {
    align-self: flex-end;
    justify-self: flex-end;
}

.inlineSocials li {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.inlineIcon {
    font-size: 40px;
    padding-bottom: 5px;
}

/* HERO STYLING */

.heroSection {
    /* view height - top nav height - bottom arrow height */
    height: calc(100vh - 200px - 127px);
    display: flex;
    column-gap: 180px;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    margin: 200px 0px 0px 0px;
}

.heroSection span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 40px;
    width: 80%;
}

.dividerLine {
    height: 2px;
    width: 100%;
    background-color: var(--darkGrey);
}

.heroSection img {
    width: 30%;
    border-radius: 100%;
}

.downIconContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    bottom: 0px;
}

#downIcon {
    font-size: 40px;
    animation: bounceAnimation 1s infinite;
}

.workInProgress {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.devDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 80px;
    padding-top: 80px;
}

#githubIconBody {
    font-size: 400px;
    color: var(--darkGrey);
}

@keyframes bounceAnimation {
    from {
        margin-top: 7px;
        margin-bottom: 0px;
    }

    50% {
        margin-top: 0px;
        margin-bottom: 7px;
    }

    to {
        margin-top: 7px;
        margin-bottom: 0px;
    }
}

/* FOOTER STYLING */
footer {
    background-color: var(--darkGreen);
    color: var(--offWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    padding: 100px;
    text-align: center;
}

footer span h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footerSocials {
    row-gap: 20px;
}

footer .inlineSocials li {
    padding: 10px;
}

.footerDivider {
    height: 2px;
    width: 100%;
    background-color: var(--offWhite);
}

.footerColor {
    color: var(--offWhite);
}

/* RECOMMENDED DEVICE SIZES FROM W3SCHOOLS (https://www.w3schools.com/css/css_rwd_mediaqueries.asp) */
/* small desktop screens */
@media only screen and (max-width: 1200px) {
    .heroSection {
        gap: 80px;
    }

    h1 { font-size: 96px; }
    
    h2 { font-size: 48px; }
    
    h3 { font-size: 36px; }
    
    h4 { font-size: 32px; }
    
    h5 { font-size: 28px; }
}

/* tablet */
@media only screen and (max-width: 992px) {    
    .condensedNav {
        display: block;
    }

    .classicNav ul {
        display: none;
    }

    .heroSection {
        height: calc(100vh - 80px - 127px);
        flex-direction: column;
        gap: 40px;
        padding: 0px 40px;
        margin: 80px 0px 0px 0px;
    }

    .heroSection span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10px;
        width: 80%;
    }

    #githubIconBody {
        font-size: 300px;
    }

    .devDetails {
        flex-direction: column;
    }

    footer {
        padding: 40px;
    }

    .desktop {
        display: none;
    }

    h1 { font-size: 48px; }

    h2 { font-size: 36px; }

    h3 { font-size: 32px; }

    h4 { font-size: 28px; }

    h5 { font-size: 26px; }
}

@media only screen and (max-width: 768px) {
    .heroSection {
        height: calc(100vh - 80px - 87px);
        padding: 0px 20px;
    }

    #githubIconBody {
        font-size: 150px;
    }

    .downIconContainer {
        padding: 20px 0px;
    }

    a { font-size: 16px; }

    p { font-size: 16px; }
}